body {
    font-family: Arial, Helvetica, sans-serif;
}
a.btn {
text-decoration: none;
color: white;
border-radius: 25px;
padding: 10px 20px ;
margin: 20 px;
}
.danger {
    background-color: red;
}
.row {background-color: rgb(247, 214, 214);
    margin: 10px 20px;
    padding: 10px 20px;

}

.container { background-color:rgb(248, 244, 244);
    border: grey;
    padding: 100px 200px;
    margin-top: 150px;
}
#display {
    padding: 100px 200px;
}
    
.generatepwd { 
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px 30px ;
    margin: 20 px;
    background-color: red;
}

.copytoclip {
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px 30px ;
    margin: 40 px;
    background-color: grey;
    margin-top: 10px;
    margin-left: 10px;
}